header{
    margin-bottom: 34px;
}

body {
    margin: 50px;
    background-color: antiquewhite;
}

h1 {
    font-size: 48px;
    font-family:'Roboto',sans-serif;
    color: rgb(71, 62, 62);
    text-align: center;
    font-weight: bold; 
}
li {
    font-family: sans-serif;
    color: #05059a;
    font-weight: 200;
    list-style-position: inside;
    text-decoration: underline;
    text-align: left;
    background:pink;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    box-shadow: 5px 5px 5px black;
} 

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p{
    font-family:'Merriweather',sans-serif;
    font-weight: 100;
}
a{
    color: plum;
    background-color: rgb(94, 4, 86);
    border-radius: 40px;
}

a:hover {
    background-color: blue;
    text-decoration: none;
}
.left {
    margin-left: 75%;

}
h2 {
    color:rgb(8, 134, 27) ;
}
main p {
    margin: 2px;
}
.daily{
   background-color: rgb(240, 97, 121);
}